h1 {  /*Colocamos estilos en la hoja de menú*/
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
div{
    display:flex;
    
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}